@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.app{
  font-family: Poppins;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title{
  font-weight: 700;
}

.slider{
  width: 100%;
}

.lables{
  display: flex;
  justify-content: space-between;
}